@page "/customers"
@attribute [Authorize]
@inject ICustomerProfileService customerProfileService

<CustomerHeader></CustomerHeader>
<div class="row">
    <Nav></Nav>
    <div>
        <h2 class="text-center">Customers</h2>
        <div class="box-2 small-width">
            @if (customers is null)
            {
                <Loader></Loader>
            }
            else
            {
                <ErrorBoundary>
                    <ChildContent>
                        <table class="fl-table">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (customers.Data.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="3">No data</td>
                                    </tr>
                                }
                                else
                                {
                                    foreach (var customer in customers.Data)
                                    {
                                        <tr>
                                            <td>@customer.Email</td>
                                            <td>@customer.Name</td>
                                            <td>@customer.LastName</td>
                                            <td>
                                                <NavLink href="@($"/customers/{customer.CustomerId}")">
                                                    <i class="fa fa-info-circle"></i> Detail
                                                </NavLink>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </ChildContent>
                    <ErrorContent Context="ex">
                        <div class="box-error">
                            <p>@ex.Message</p>
                        </div>
                    </ErrorContent>
                </ErrorBoundary>
            }
        </div>
    </div>
</div>

@code {
    private HttpListResponse<CustomerProfile> customers;

    protected override async Task OnInitializedAsync()
    {
        customers = await customerProfileService.GetAllAsync(0, 10);
        await base.OnInitializedAsync();
    }
}
